#main {
	background-color: whitesmoke;
	background-image:url("imagens/beach/beach.jpg");
	background-size: cover;
	
}
body{
	margin:auto;
}
li,a:hover {
background-color:white;
color: burlywood;
}


#figurinha {
	background-color: white;
	border-color: black;
	margin-left: 21%;
	margin-right: 21%;
	margin-top: 1%;
}

th{
	border: 1px;
	border-style: groove;
	margin:2%;
	padding: 20px;
}
#logo {
	margin-left: 35%;
}
a{
	color: black;
	font-size: medium;
}
#marca {
	text-align: center;
	padding: 3px;
	background-color: pink;
	width: auto;
	color: azure;
	font-family: sans-serif;
}

#principal{
	background-color: burlywood;
	margin-top: 5%;
	padding: 2%;
}
th.t1 , th.t2,th.t3{
	border-style: none;
	border-width: 1px;
	width: 20%;
	padding: 5px;
}
div.galeria {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.galeria:hover {
	border: 1px solid #777;
}

div.galeria img {
	width: 100%;

}

div.desc {
	padding: 1px;
	text-align: center;
}
.mySlides {display:none;
	width:100%
}
.w3-content{
	margin-left: 35%;
	margin-top: 2%;
	max-width:300px
}
.w3-center{
	margin-left: 42%;
	margin-top: 1%;
}
.w3-section{
	margin-top: 2%;
}
