body{
	margin: 0px;
	
}

a:hover {
background-color:white;
color: burlywood;
border-radius: 10px;
}


#logo {
	background-image:url(imagens/beach/praialogo.jpg);

}
.fotologo{
	
	text-align: center;
}
a,p.navtext{
	display: inline-block;
	color: black;
	font-size:15px;
	text-decoration: none;
	margin: 10px;

}

 
a,p.rodape{
	text-decoration: none;
	color: black;
}

#marca {
	text-align: center;
	margin-top: 2%;
	padding: 15px;
	background-color:pink;
	width:auto;
	color: azure;
	font-family: sans-serif;
}

#marca p{
	margin: 20px;
}

.rodape{
	display: inline-block;
	text-align: center;
	background-color: burlywood;
	padding: 2%;
	width:100%;	
	margin-top: 20px;
}

div.galeria {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.galeria:hover {
	border: 1px solid #777;
}

div.galeria img {
	width: 100%;
}

		* {box-sizing: border-box}
		.mySlides{display:none}
		img {vertical-align: middle;}
		
		/* Slideshow container */
		.slideshow-container {
		  max-width: 400px;
		  position:relative;
		  margin: auto;
		}
		
		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  
		}
		
		/* Position the "next button" to the right */
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}
		
		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}
		
		/* Caption text */
		
		
		/* Number text (1/3 etc) */
		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}
		
		/* The dots/bullets/indicators */
		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}
		
		.active, .dot:hover {
		  background-color: #717171;
		}
		
		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 2.0s;
		  animation-name: fade;
		  animation-duration: 2.0s;
		}
		
		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
		
		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
		
		/* On smaller screens, decrease text size */
		@media only screen and (max-width: 300px) {
		  .prev, .next{font-size: 11px}
		}
		#divpoderosa{
			max-width:100%;
			padding: 50px;
		}
		.descricaoproduto{
			float: left;
			margin-top: 10%;
			background-color: whitesmoke;
		}
		.ponto{
			text-align: center;
		}
		
		
	